@import "tailwindcss";

@theme {
  --font: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-text: var(--text);
  --color-muted: var(--muted);
}

body {
  @apply bg-gradient-to-br from-primary/50  via-neutral-100 to-primary/50
}

input,
textarea,
select {
  color: var(--text);
  background-color: var(--secondary);
}

:root {
  --background: oklch(100.00% 0.000 89.88);
  --primary: oklch(56.70% 0.155 248.52);
  --secondary: oklch(81.80% 0.080 225.19);
  --accent: oklch(73.87% 0.015 238.09);
  --text: oklch(11.83% 0.046 280.65);
  --muted: oklch(10.11% 0.000 89.88);
}